*{
    margin: 0px;
}
fresh th {
    background: linear-gradient(pink, red);
    text-align: left;
    border: 1px solid black;
    height: 400 px;
}
fresh td {
    border: 1px solid black;
    border-bottom: 0;
    /* border-right: 0; */
    height: 20px;
    text-align: left;
}

table {
    display: inline;
    border-collapse: collapse;
}
input {
    text-align: center;
}
#curtain {
  background-color: white;
}

